In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
#!pip install git+https://github.com/pydata/pandas-datareader.git
#!pip install yfinance
# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf

# For time stamps
from datetime import datetime
from datetime import timedelta,date

In [2]:
# The tech stocks we'll use for this analysis
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN',"TSLA", "VOO", "SPY", "META", "GRAB", "DPLS", "CIBR", "SAGE"]

# Set up End and Start times for data grab
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN',"TSLA", "VOO", "SPY", "META", "GRAB", "DPLS", "CIBR", "SAGE"]



end = datetime(2022, 3, 11)
start = datetime(end.year - 1, end.month, end.day)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    
tesla_data = globals()['TSLA']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
tesla_data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,2.540000e+02
mean,806.889449,824.251769,788.125395,806.523462,806.523462,2.599895e+07
std,173.600061,179.577577,165.534908,172.607575,172.607575,9.587267e+06
min,552.549988,566.210022,546.979980,563.460022,563.460022,9.800600e+06
25%,675.184998,687.630005,660.704971,671.194977,671.194977,1.896752e+07
50%,741.250000,754.119995,730.904999,743.559998,743.559998,2.433985e+07
75%,927.082489,945.655014,903.085022,930.937500,930.937500,3.108402e+07
max,1234.410034,1243.489990,1217.000000,1229.910034,1229.910034,6.285210e+07